.receipthead{
    color:#f3f3f3;
    background-color: #030303;
}
.table{
    color:#030303;
    border:1px solid lightyellow;
    border-collapse: collapse;
    margin:auto;
}
.table td, th{
    padding:10px 18px;
}
.table thead tr{
    background-color: lightsteelblue;
}
.table tbody tr{
    background-color: lavender;
}
.table tbody tr:nth-child(odd){
    background-color: lavenderblush;
}

.mainbox button{
    border:2px solid,#4CAF50;
    color:teal;
    background-color: linen;
    font-size:16px;
    padding:8px 24px;
    margin:10px;
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 1px;
}
.mainbox button:hover:enabled{
    transform: scale(0.97,0.97);
    background-color: #7FDBFF;
    color:white;
}
.mainbox .buy{
    border:2px solid saddlebrown;
    color:saddlebrown;
}
.mainbox button:disabled{
    background-color: lightgray;
    border:2px solid grey;
    color:grey;
}
.empty{
    font-size: 30px;
    color: red;
}
@media (max-width:1000px){
    .maindiv{
        width:90%;
    }
    .table td,th{
        padding:3px 8px;
    }
}